#gallery {
  display: -webkit-flex;
  display: flex;

  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-justify-content: space-between;
  justify-content: space-between;

  .photo {
    margin: 0 10px;
    height: 80px;
    width: 80px;
  }

  .label {
    text-align: center;
    margin-bottom: 20px;
  }
}